@charset "UTF-8";

/* ========================================
	reset
======================================== */
*html body {  　　　　　/*IE6だけに適用*/
   overflow-y:auto;
}

*+html body {　　　　　/*IE7だけに適用*/
   overflow-y:auto;
}

body {
   overflow-y:scroll;
   -webkit-text-size-adjust: 100%;
}

body, div, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6,
pre, form, fieldset, input, textarea,
p, blockquote, th, td {
	margin: 0;
	padding: 0;
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-style: normal;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption, th {
	text-align: left;
}
q:before, q:after {
	content: '';
}
object, embed {
	vertical-align: top;
}
hr,legend {
	display: none;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 14px;
}
abbr, acronym, fieldset {
	border: 0;
}
li {
	list-style-type: none;
}
em, strong {
	font-style: normal;
	font-weight: bold;
}
img {
	border: 0;
	vertical-align: bottom;
}

:focus {
	outline: none;
}

a:link, a:visited {
	outline: none;
}
a:hover, a:active {
	outline: none;
}

/* ========================================
	base
======================================== */
body {
	background: #1a1a1a;
	font-size: 12px;
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','ＭＳ Ｐゴシック','MS P Gothic', Helvetica, sans-serif;
	line-height: 1;
}

/* for IF6 */
* html body {
	font-family: "ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
}

/* ----- CLEARFIX ----- */
/* clearfix : For modern browsers */
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
/* clearfix : For IE 6/7 (trigger hasLayout) */
.clearfix {
    zoom: 1;
}

/* ----- LINK  ----- */
a:link, a:visited {
	text-decoration: none;
	color: #FFF;
	outline: none;
}
a:hover, a:active {
	text-decoration: underline;
	color: #FFF;
	outline: none;
}

a:link img.alpha, 
a:visited img.alpha{
	opacity: 1;
	-moz-opacity: 1; /* Firefox */
	filter: alpha(opacity=100); /* IE6/7 */
	-ms-filter: "alpha(opacity=100)"; /* IE8 */
}

a:hover img.alpha, 
a:active img.alpha {
	opacity: 0.75;
	-moz-opacity: 0.75; /* Firefox */
	filter: alpha(opacity=75); /* IE6/7 */
	-ms-filter: "alpha(opacity=75)"; /* IE8 */
}

/* ---------- */
.sceneslide li {
    left: 0;
    position: absolute;
    top: 0;
}


/* ========================================
	FLASH
======================================== */
/* message for Not Installed Flash Player */
#flashcontent {
	/*background: #cccccc;*/
}
#flashcontent noscript {
	color: #333333;
	font-size: 16px;
	text-align: center;
	padding: 20px;
}
#flashcontent noscript img {
	margin: 15px 0;
}


