@charset "UTF-8";

/* ========================================
	common
======================================== */
.inner {
	margin: 0 auto;
	width: 960px;
	position: relative;
}

.disnon {
	display: none;
}

.disblock {
	display: block;
}


/* ========================================
	#header-logo
======================================== */
#header {
	background: url(../images/header_bg01.png) center top repeat-x;
}

#header-logo {
	position: relative;
	margin: 0 auto;
	min-width: 960px;
	width: 100%;
	top: 0;
	z-index: 20;
	background: url(../images/header_bg02.png) center top no-repeat;
	height: 123px;
}

#header-logo .nintendo {
	position: absolute;
	top: 5px;
	left: 10px;
}

#header-logo .hard {
	position: absolute;
	top: 5px;
	right: 8px;
}

/* ========================================
	#bgmbtn
======================================== */
#bgmbtn {
	position: absolute;
	width: 100px;
	height: 28px;
	top: 2px;
	right: 105px;
	z-index: 700;
}

/* ========================================
	#gnavi
======================================== */
.gnavi_logo,
.gnavi01,
.gnavi02,
.gnavi03,
.gnavi04,
.gnavi05 {
	position: absolute;
	top: 0;
}

.gnavi_logo {
	top: 30px;
	left: 19px;
}

.gnavi01 {
	left: 180px;
}

.gnavi02 {
	left: 338px;
}

.gnavi03 {
	left: 495px;
}

.gnavi04 {
	left: 653px;
}

.gnavi05 {
	left: 810px;
}
#header li .gnink {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
}
.no-js #header li .gnink {
	display: none;
}
#header li .gntext {
	position: relative;
	z-index: 10;
}


/* ========================================
	#contents
======================================== */
#wrapper {
	margin: 0 auto;
	width: 100%;
	min-width: 960px;
	position: relative;
	overflow: hidden;
}

#container {
	width: 100%;
}

#contents {
	width: 100%;
	background: url(../images/main_bg.png) center 0 repeat;
	margin-top: -38px;
	padding-top: 38px;
}

.inner {
	width: 960px;
	margin: 0 auto;
	position: relative;
}



/* ========================================
	#footer
======================================== */
#footer {
	width: 100%;
	height: 40px;
	margin-top: -38px;
	padding-top: 38px;
	background: url(../images/foot_bg.png) center top no-repeat;
	color: #FFF;
	text-align: center;
}

#footer .inner {
	margin-top: -38px;
}

#footer .footer-gnavi {
	padding: 22px 0 0 0;
}
#footer .footer-navi {
	padding: 15px 0;
}
#footer .footer-gnavi li,
#footer .footer-navi li {
	display: inline;
	color: #FFF;
}

#footer .footer-gnavi span.cs{
	color: #999;
	text-decoration: none;
}

#footer .footer-gnavi span{
	text-decoration: underline;
}

.footer-pagetop a {
	position: absolute;
	top: -106px;
	right: 0;
}



/* ========================================
	#popup
======================================== */
#coverLayer {
	display: none;
	position: fixed;
		top: 0;
		left: 0;
		z-index: 9000;
	height: auto;
	height: 100%;
	min-height: 100%;
	width: 100%;
	background: #DBDBDB;
	opacity: 0.9;
	filter: alpha(opacity=90);
	-ms-filter: "alpha(opacity=90)";
	cursor: pointer;
}